<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
              *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }


      body{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
    </style>
</head>
<body>
   
        <img src="https://cdn.dribbble.com/users/2092964/screenshots/11046149/media/00667983dfd9cffca372940f71fa213e.png?compress=1&resize=768x576&vertical=top" alt="">
   
</body>
</html>