:root{
  --darkGreen : #002E25; /* for dark green mode */
  --softGreen : #008060; /* for all button */
  --white : white; /* for button, text, etc */
  --background : rgb(245, 245, 245); /* for initial background color */
  --text-color : #A0AEC0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
}
